body{
    overflow-y: hidden;
}


@media only screen and (max-width:1000px){

}
@media only screen and (min-width:800px){
    #heading{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        top:5%;
        background-color: black;
        color: #cab333;
        font-size: 40px;
    }
}