<div id = "navbar_authed">
    <div id = "profile_info" style="background-image: url('/static/arr.svg'); background-color: {{profile_info_arr_bgcolor}};">

    </div>
    <div id = "profile_info_div" style="display: none;">
        <div id ="profile_maininfo_div">
            <span id = "profile_maininfo_span">
                {{mail}}
            </span>
        </div>
        <div id ="profile_saves_div" class = "navbar_authed_interactdiv">
            <span id = "profile_saves_span">
                <span id = "profile_saves_sym_span"></span>შენახული შედეგები
            </span>
        </div>
        <div id ="feedback_div" class = "navbar_authed_interactdiv">
            <span id = "feedback_div_span">
                <span id = "feedback_div_sym_span"></span>გამოხმაურება
            </span>
        </div>
        <div id ="profile_logout_div" class = "navbar_authed_interactdiv">
            <span id = "profile_logout_span">
                <span id = "profile_logout_sym_span"></span>გასვლა
            </span>
        </div>
    </div>
</div>