<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Georgian Base 2016</title>
    <link href="/static/buy_premium.css" rel="stylesheet" >
    <link href="/static/allpage.css" rel="stylesheet" >
    <link rel="icon" href = "/static/gb_sym.png">
    
    <script src="/static/jquery.js"></script>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1436134057225682"
     crossorigin="anonymous"></script>

    
    <link href = "/static/eror.css" rel="stylesheet">
</head> 
<body style="height:100%">
    {{navbar_authed}}
    {{bg}}
    <div id="root">
        
        <h2 id = "heading">პრემიუმი</h2>
        
        <!-- <div style="background-color: white;width:100%;height: 400px;position:absolute;top:100%; left:0%"></div> -->

    </div>
    <script src = "/static/eror.js"></script>
    <script>
        
        
    </script>
    
</body>
</html>